WeatherClient/Connected Services/WeatherServiceReference/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWeatherService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherService" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_GetWeatherDataLast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherDataLast" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWeatherDataLast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherDataLastResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWeatherDataByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherDataByDate" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWeatherDataByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherDataByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetMainCityList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainCityList" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetMainCityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainCityListResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="GetWeatherDataLast">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetWeatherDataLast" message="tns:IWeatherService_GetWeatherDataLast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetWeatherDataLastResponse" message="tns:IWeatherService_GetWeatherDataLast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherDataByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetWeatherDataByDate" message="tns:IWeatherService_GetWeatherDataByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetWeatherDataByDateResponse" message="tns:IWeatherService_GetWeatherDataByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMainCityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetMainCityList" message="tns:IWeatherService_GetMainCityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetMainCityListResponse" message="tns:IWeatherService_GetMainCityList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherService" type="tns:IWeatherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeatherDataLast">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetWeatherDataLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherDataByDate">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetWeatherDataByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainCityList">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetMainCityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IWeatherService" type="tns:IWeatherService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWeatherService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetWeatherDataLast">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/GetWeatherDataLast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherDataByDate">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/GetWeatherDataByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainCityList">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/GetMainCityList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="BasicHttpBinding_IWeatherService" binding="tns:BasicHttpBinding_IWeatherService">
      <soap:address location="http://localhost:8080/WeatherService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IWeatherService" binding="tns:NetTcpBinding_IWeatherService">
      <soap12:address location="net.tcp://localhost:18989/WeatherService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:18989/WeatherService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>merfeg-virtual\merfeg</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>